<%- include('./partials/head', {title: 'Detalle de producto - La Casa de la Musica'}) %>

<body>
    <%- include('./partials/header') %>

    <main>
        <div class="detalle-producto">
            <p class="clasificacion-productos"> <a href="">CATEGORIAS</a> > <a href=""><%= product.clasificacion %></a> > <a
                    href=""><%= product.tipo %></a> > <a href=""><%= product.name.toUpperCase() %></a></p>
            <div class="titulo-2">
                <h2 class="titulo-pagina-articulo"><%= product.name %></h2>
                <div class="iconos-titulo">
                    <p><i class="fas fa-cart-plus"></i></p>
                    <p class="icono-compartir"><i class="fas fa-share-alt"></i></p>
                </div>
            </div>
            <img class="imagen-articulo-detalle" src="/images/<%= product.imagedetail %>" alt="imagen-de-producto">
            <div class="detalle-1">
                <p class="acerca-de">SOBRE ESTE PRODUCTO:</p>
                <p class="acerca-de-detalle"><%= product.description %></p>
                <div class="footer-producto">
                    <p class="precio-articulo-detalle">$<%= product.price %></p>
                    <div class="botones-detalle">
                        <button class="boton-compra-detalle"><a href="/<%= product.id %>">Comprar</a></button>
                        <button class="boton-carro-detalle"><a href="/products/cart"><i id="iconos-barra"
                                    class="fas fa-shopping-cart"></i></a></button>
                    </div>
                </div>
            </div>
            <div class="detalle-2">
                <div class="descripcion-2">
                    <p class="acerca-de-2">SOBRE ESTE PRODUCTO:</p>
                    <p class="acerca-de-detalle-2"><%= product.description %></p>
                </div>
                <div class="footer-producto-2">
                    <p class="precio-articulo-detalle">$<%= product.price %></p>
                    <div class="botones-detalle-2">
                        <button class="boton-compra"><a href="/products/<%= product.id %>">Comprar</a></button>
                        <button class="boton-carro"><a href="/products/cart"><i id="iconos-barra"
                                    class="fas fa-shopping-cart"></i></a></button>
                        <button class="boton-compra"><a href="/products/<%= product.id %>/edit">Editar</a></button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('./partials/footer') %>
</body>

</html>